.columna__01 {
    background-color: rgb(200, 207, 241);
}

.columna__02 {
    font-family: 'Times New Roman', Times, serif;
}

.logoR {
    float: right;
}
.FotoPrincipal {
    width: 100%; 
}
.Hipertexto {
    display: list-item;
	width: 100%;
	background-color: #e9e6e6;
	position: relative;
    box-shadow: 5px -5px 5px -4px #070707;
    border-radius: 0px 10px 10px 10px;

}
.Hipertexto1 {
    position: relative;
    color: rebeccapurple;
    text-align: right;
    font-size: 20px;
    font-display: swap;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding: 15px 15px 15px 15px;
}